/* ABOUT SECTION */

.about-section {
  padding-top: 96px;
  padding-bottom: 80px;
}

.about__list {
  display: flex;
  justify-content: center;
}

.about__item {
  flex: 0 calc(100% / 4 - 36px);
  text-align: center;

  &:not(:last-child) {
    margin-right: 34px;
  }
}

.about__icon {
  width: 66px;
  height: 66px;
  margin-bottom: 54px;
  fill: $color-bg;
}

.about__title {
  font-size: 18px;
  font-family: $main-font-faimily;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.about__description {
  font-weight: 300;
  font-size: 14px;
  font-family: $main-font-faimily;
  line-height: 1.7;
  margin: 0;
}
