/* ABOUT SECTION */

.about-section {
  padding-top: 96px;
  padding-bottom: 80px;
}

.about {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    flex: 0 calc(100% / 4 - 36px);
    text-align: center;

    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__icon {
    width: 66px;
    height: 66px;
    margin-bottom: 54px;
    fill: var(--bg-color);
  }

  &__title {
    text-transform: uppercase;
    font-family: var(--main-font-faimily);
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px;
  }

  &__description {
    font-family: var(--main-font-faimily);
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    margin: 0;
  }
}
