/* BANNER SECTION */

.banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: $color-main;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/banner/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner__title {
  min-width: 1100px;
  font-size: 48px;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 26px;
  &::first-line {
    font-weight: 300;
  }
}

.banner__title--color {
  color: $color-bg;
}

.banner__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 42px;
  text-transform: uppercase;
  border: 2px solid rgba(225, 225, 225, 0);
  &:hover,
  &:focus {
    border: 2px solid $color-light-bg;
    transition: var(--time-fun) var(--cubic-fun);
  }
}
