/* BLOG SECTION */

.blog-section {
  background-color: var(--section-bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.blog {
  &__subtile {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 44px;
  }

  &__preview {
    font-size: 14px;
    line-height: 1.8;
    margin: 0;
    margin-bottom: 16px;
  }

  &__subtile {
    &::after {
      content: ' ';
      display: block;
      width: 136px;
      height: 4px;
      margin-right: auto;
      margin-top: 12px;
      background: center/ cover no-repeat
        url(../images/icons/blog-subtitle-border.png);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 calc(100% / 3 - 30px);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__button {
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(225, 225, 225, 0);
    transition: var(--time-fun) var(--cubic-fun);

    &:hover,
    &:focus {
      border: 2px solid var(--light-bg-color);
    }
  }
}
