/* HEADER */

.user-section {
  background-color: $color-bg;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-header {
  display: flex;
  justify-content: space-between;

  &__contact-list,
  &__authentication-list {
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: 14px;
    line-height: 0.7;
  }

  &__link {
    position: relative;
    padding-right: 18px;
    padding-left: 18px;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: -5%;
    width: 17px;
    height: 19px;
    fill: var(--white-color);
    transition: fill var(--time-fun) var(--cubic-fun);
  }

  &__link {
    &:hover,
    &:focus {
      color: $color-main;
    }
  }
}

.user-header__link:hover .user-header__icon,
.user-header__link:focus .user-header__icon {
  fill: $color-main;
}

/* NAVIGATION */

.nav-header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 18px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 30px;
    font-family: $title-font-family;
    line-height: 1.06;
    text-transform: uppercase;
    color: $color-main;
    margin-right: auto;
    padding: 10px;

    &::first-letter {
      font-weight: 700;
      color: $color-bg;
    }

    &:hover,
    &:focus {
      color: $color-bg;
    }

    &:hover::first-letter,
    &:focus::first-letter {
      color: $color-main;
    }
  }

  &__link {
    font-weight: 900;
    font-size: 14px;
    line-height: 0.7;
    text-transform: uppercase;
    color: $color-main;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;

    &:hover,
    &:focus {
      color: $color-bg;
    }
  }
}
