/* NEWSLETTER SECTION */

.newsletter-section {
  padding-top: 102px;
  padding-bottom: 136px;
  background: center / cover no-repeat
    url(../images/icons/newslatter-section-backgroung.png) $color-bg;
}

.newsletter {
  text-align: center;
}

.newsletter__title {
  margin-bottom: 72px;

  &::after {
    content: ' ';
    display: block;
    width: 166px;
    height: 15px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
    background: center/ cover no-repeat
      url(../images/icons/newsletter-title-border.png);
  }
}

.newsletter__subtitle {
  margin-bottom: 42px;
  color: var(--white-color);
}

.newsletter__form {
  display: flex;
  justify-content: center;
}

.submit {
  display: flex;
}

.submit__email {
  width: 450px;
  height: 60px;
  border: 0;
  padding: 0;
  padding-left: 30px;
  background-color: var(--white-color);
}

.submit__button {
  position: relative;
  width: 90px;
  height: 56px;
  border: 2px solid var(--white-color);
  border-radius: 0px 5px 5px 0px;

  &:hover,
  &:focus {
    border: 2px solid $color-light-bg;
  }

  &:hover,
  &:focus {
    &__icon {
      fill: $color-light-bg;
    }
  }
}

.submit__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  fill: var(--white-color);
  transition: fill var(--time-fun) var(--cubic-fun);
}
