/* STYLIZATION */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--white-color);
  transition: color var(--time-fun) var(--cubic-fun);
}

.button {
  all: unset;
  background-color: var(--bg-color);
  color: var(--white-color);
  cursor: pointer;
}
