/* TYPOGRAPHY */

body {
  font-family: $main-font-faimily;
  color: $color-main;
}

.title {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  font-family: $title-font-family;
  text-transform: uppercase;
  color: $color-main;
  margin: 0;
  margin-bottom: 122px;

  &::after {
    content: ' ';
    display: block;
    width: 166px;
    height: 15px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
    background: center/ cover no-repeat url(../images/icons/title-border.png);
  }
}
